<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bergcomputers.mobilebanking">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".config.ConfigActivity"
            android:label="@string/title_activity_config"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.MainActivity" />
        </activity>

        <activity
            android:name=".account.AccountListActivity"
            android:label="@string/title_accounts"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.MainActivity" />
        </activity>

        <activity
            android:name=".account.AccountDetailActivity"
            android:label="@string/title_account_detail"
            android:parentActivityName=".account.AccountListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.account.AccountListActivity" />
        </activity>
        <activity
            android:name=".transaction.TransactionListActivity"
            android:label="@string/title_activity_beneficiary"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.MainActivity" />
        </activity>

        <activity
            android:name=".transaction.TransactionDetailActivity"
            android:label="@string/title_currency_detail"
            android:parentActivityName=".transaction.TransactionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.transaction.TransactionListActivity" />
        </activity>
        <activity
            android:name=".beneficiary.BeneficiaryListActivity"
            android:label="@string/title_activity_beneficiary"
            android:parentActivityName=".config.ConfigActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.config.ConfigActivity" />
        </activity>

        <activity
            android:name=".beneficiary.BeneficiaryDetailActivity"
            android:label="@string/title_currency_detail"
            android:parentActivityName=".beneficiary.BeneficiaryListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.beneficiary.BeneficiaryListActivity" />
        </activity>

        <activity
            android:name=".currency.CurrencyListActivity"
            android:label="@string/title_currency_list"
            android:parentActivityName=".config.ConfigActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.MainActivity" />
        </activity>
        <activity
            android:name=".currency.CurrencyDetailActivity"
            android:label="@string/title_currency_detail"
            android:parentActivityName=".currency.CurrencyListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bergcomputers.mobilebanking.currency.CurrencyListActivity" />
        </activity>

    </application>

</manifest>